%div.header_right
  %div.header_name
    %h2 ここはグループネーム
    %p member&nbsp;:&nbsp;
    %ul
      %li userA
      %li userB
  %a{ href: 'http://google.co.jp'}
    %div.edit Edit
%div.message_area
  = render "message"
