.header_right
  .header_name
    %h2 ここはグループネーム
    %p member&nbsp;:&nbsp;
    %ul
      %li userA
      %li userB
  =link_to 'Edit','http://google.co.jp', class: "edit"
.message_area
  = render "message"
